.fc-media-screen {
  width: 610px;
  background: white;
  font-family: "Pretendard";
  border-radius: 12px;
  border: 1px solid #b9bed3;
}
/* 헤더 높이와 여백 조정 */
.fc-toolbar.fc-header-toolbar {
  padding: 5px 10px; /* 상하좌우 여백 조정 */
}

.fc-toolbar-title {
  font-size: 16px !important;
  font-weight: semibold !important;
}
.fc-daygrid-day-top {
  width: 83px; /* 원하는 너비 설정 */
  font-size: 10.43px;
}
.fc-scrollgrid-sync-inner {
  text-align: right;
  font-size: 13px;
  font-weight: medium !important;
  color: #3b3d46;
  border-top: 1px solid #c7c7cc;
}
.fc-next-button,
.fc-prev-button,
.fc-today-button,
.fc-button,
.fc-button-primary {
  background-color: #fff !important;
  color: #000 !important; /* 필요 시 텍스트 색상도 지정 */
  border: none !important; /* 테두리 제거 */
}

.fc-button:hover {
  background-color: #f0f0f0 !important; /* 호버 시 배경색 변경 */
}

.fc-next-button:focus,
.fc-prev-button:focus,
.fc-today-button:focus,
.fc-button:focus,
.fc-button-primary:focus,
.fc-next-button:active,
.fc-prev-button:active,
.fc-today-button:active,
.fc-button:active,
.fc-button-primary:active {
  border: none !important; /* 클릭 및 포커스 시 테두리 제거 */
  outline: none !important;
  box-shadow: none !important;
}

/* 요일 헤더의 좌우 border 제거 */
.fc-col-header-cell {
  border-left: none !important;
  border-right: none !important;
}
.fc-event,
.fc-event-draggable,
.fc-event-resizable,
.fc-event-start,
.fc-event-end,
.fc-event-future,
.fc-daygrid-event,
.fc-daygrid-block-event,
.fc-h-event {
  border-radius: 50px !important;
  border: none !important;
  color: white;
  font-size: 8px;
  text-align: left;
  padding-left: 5px;
}
