.TodoTemplate{
    width: 585px;
    height: 340.88px;
    background: #F2F2F7;
    padding: 13px 9px 20.88px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;

}

    .incompleteTodos{
        width: 50%;
        display: flex;
        flex-direction: column; //TodoList와 TodoInsert 세로 정렬
        justify-content: space-between; //아이템들 사이의 공간 최대화
        
        .TodoList{
            height: 265px;
        }
    }
    .completedTodos{
        width: 50%;
        .TodoList{
            height: 307px;
        }
    }


// .content{
//     background: #F2F2F7;
//     height: 100%;
//     display: flex;
//     padding: 13px 9px 20.88px;
//     .incompleteTodos{
//         width: 50%;
//     }
//     .completedTodos{
//         width: 50%;
//     }
// }