.App {
  text-align: center;
}

@keyframes modal-enter {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 자주 사용하는 스타일을 재사용하기 위해 컴포넌트화*/
.flex-center {
  @apply flex justify-center items-center;
}

.dropdown-list {
  @apply p-2 rounded-[8px] hover:bg-gray-100 flex items-center cursor-pointer;
}

.signup-dropdown-list {
  @apply p-4 rounded-[8px] hover:bg-gray-100 flex items-center;
}

.input-background {
  @apply bg-white-100 border border-gray-200 focus:outline-none focus:border-gray-900 focus:bg-gray-100 disabled:border-red-100 disabled:bg-gray-100;
}

.text-state-error {
  @apply text-caption3 text-red-100 text-left mt-[5px];
}

.modal-style {
  @apply z-[1000] fixed inset-0 bg-gray-900 bg-opacity-30 flex items-center justify-center;
}
.modal-animation {
  animation: modal-enter 0.3s ease-out forwards; /* 모달 진입 애니메이션 */
}
