@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

@keyframes modal-enter {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out;
}
/* 자주 사용하는 스타일을 재사용하기 위해 컴포넌트화*/
@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .button-main-bg {
    @apply bg-main-100 text-white-100;
  }
  .button-main-light {
    @apply bg-main-300 text-main-100 border border-main-400;
  }

  .custom-shadow {
    @apply shadow-[0px_4px_21.6px_rgba(0,0,0,0.05)];
  }

  .dropdown-list {
    @apply p-2 rounded-[8px] hover:bg-gray-100 flex items-center cursor-pointer;
  }

  .signup-dropdown-list {
    @apply p-4 rounded-[8px] hover:bg-gray-200 flex items-center;
  }

  /*input 공용 스타일 정의*/

  .input-background {
    @apply bg-white-100 cursor-pointer border border-gray-200 focus:outline-none focus:border-main-100 focus:bg-gray-100 disabled:border-red-100 disabled:bg-gray-100;
  }

  .input-style {
    @apply rounded-[8px] py-[11px] px-[20px] mt-2;
  }

  .text-state-error {
    @apply text-caption3 text-red-100 text-left mt-[5px];
  }

  .modal-style {
    @apply z-[1000] fixed inset-0 bg-gray-900 bg-opacity-30 flex items-center justify-center;
  }
  .modal-animation {
    animation: modal-enter 0.3s ease-out forwards; /* 모달 진입 애니메이션 */
  }

  .small-dropdown-list {
    @apply w-[114px] h-[36px] p-2 rounded-[8px] cursor-pointer hover:bg-gray-200 flex-center;
  }

  .section-title {
    @apply text-title3 pr-[21px] flex items-center text-gray-1100;
  }
  .announcement-title {
    @apply text-headline text-gray-1100;
  }
  .tooltip {
    @apply w-auto h-[34px] px-[13.37px] rounded-[11px] bg-white-100 border border-gray-200 text-caption3 text-gray-900 flex-center;
  }

  .section-background {
    @apply flex flex-col bg-white-100 py-6 mx-8 mb-9 px-10 rounded-[12px] w-full text-left;
  }
}
